.page {
	margin-left: 270px;
	margin-top: 50px;
	padding: 30px;

	&__content {
		background-color: #1a2144;
		border-radius: 7px;
		box-shadow: 0 0 40px -10px rgba(0,0,0,0.3);
	}
}

@import 'login';
@import 'pages';