.field {
  margin-bottom: $spacer /4;
  
  &__label {
    color: $theme-tertiary;
    font-weight: $font-bold;
    margin-bottom: $spacer /4;
    display: block;
  }

  &__text,
  &__password {
    background-color: $theme-secondary;
    color: $white;
    border: 0;
    padding: $spacer /4;
    border-radius: $border-radius;
    box-shadow: $box-shadow-inset;
    width: 100%;
  }
  
  &__radio {}
  
  &__checkbox {}

  &__radio,
  &__checkbox {
    display: inline-block;
    text-align: left;
    width: 100%;

    &__input {

    }

    &__label {
      display: inline-block;
      text-align: left;
      color: $theme-tertiary;
      margin-left: $spacer /4;
    }
  }
  
  &__wysiwyg {
    .pell {
      &-actionbar {
        background-color: $theme-secondary;
      }

      &-button {
        color: $theme-tertiary
      }

      &-content {
        background-color: $theme-secondary;
        color: white;
      }
    }
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
    &__input { 
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .field__switch__slider {

        &:before {
          transform: translateX(26px);
          background-color: $theme-tertiary;
        }
      }
      
      &:focus + .field__switch__slider {
        box-shadow: 0 0 1px $theme-tertiary;
      }
    }
    
    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $theme-secondary;
      border-radius: $border-radius;
    
      &:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 6px;
        bottom: 6px;
        border-radius: $border-radius;
        background-color: $white;
        transition: $transition * 0.3;
      }
    }
  }
}
